<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
  <title>mz后台管理系统</title>
</head>
<body>
  <!-- 侧边栏 -->
  <%- include('./common/side.ejs'); %>

  <div class="layout-main">
    <!-- 头部 -->
    <%- include('./common/header.ejs'); %>
    <div class="layout-body">
      内容
    </div>
  </div>
</body>
</html>