<!-- 侧边栏 -->
<div class="layout-side">
  <ul>
    <li>
      <a href="/users.html">用户管理</a>
    </li>
    <li>
      <a href="/banner.html">banner图管理</a>
    </li>
    <li>
      <a href="/films.html">影片管理</a>
    </li>
    <li>
      <a href="/cinema.html">影院管理</a>
    </li>
  </ul>
</div>